.show_on_element{ display:none; }
.opacity{ 
	padding:0px; 
	padding-top:20px; 
	height:100px;
}
.position{ 
	padding:0px; 
	padding-top:20px; 
	height:100px;
}
.position .control-label{
	width:10px!important;
}
.opacity .control-label{
	width:10px!important;
}
.opacity .controls{
	margin-left:60px!important;
}
.position input{
	width:60px; height:30px!important;
}
.position .controls{
	margin-left:15px!important;
}
.position .right .control-label {
	margin-left:25px!important;
}
.position .right .controls{
	margin-left:70px!important;
}
.position h4{
	margin:0px; top:0px; text-align:center; margin-top:-12px; margin-bottom:5px;
}
.opacity h4{
	margin:0px; top:0px; text-align:center; margin-top:-12px; margin-bottom:5px;
}
#page_editor>li.subpage>a{
	display:inline;
	padding-left: 33px;
}

#page_editor>li>a{
	display:inline;
}
#page_editor>li{
	height:20px;
}
#page_editor.li{
	height:20px;
}
.page_editor_over{
	border: 1px dashed grey;
}

#menu{
	list-style:none;
	line-height:23px;
	position:absolute;
	display:none;
	padding:4px;
	min-width:120px;
	background:lighten(@standard_bg, 20%);
	z-index:90000;
}

#editor{ display:none; }

#menu li{
    line-height: 1.5em;  
    padding: 5px 5px 5px 25px;  
    font-size: 11px;  
    border-bottom: 1px solid #fff;  
}

#current_element_name{
	text-align:center;
}

.nav a{
color:black;
text-decoration: none;
}

#current_element_name_{
	text-align:center;
}


.cen_section{
	width:100%;
	margin-top:-10px; margin-left:-10px; width:250px;
	background:darken(@color, 20%);
	padding-bottom:10px; padding-top:10px;
}

#panel_left{
	width:@panel_width - 20;
	padding:10px;
	position:fixed;
	left:0px; top:0px;
	height:100%;
	background:@standard_bg;
	border-right: 3px solid lighten(@standard_bg, 30%);
	z-index:30;
}

.panel_section{
	margin-bottom: 10px; 
}

.rect-y{ 
	position:fixed; 
	top:0px;
	left:0px;
	height:4px;
	width:100%;
	border:0px;
	border-bottom: 1px dashed darken(@standard_bg, 20%);
	padding:0px;
	margin:0px;
	cursor: row-resize;
}

.rect-x{ 
	position:fixed; 
	top:4px;
	left:253px;
	width: 4px;
	height: 100%;
	border:0px;
	border-left: 1px dashed darken(@standard_bg, 20%);
	padding:0px;
	margin:0px;
	cursor: col-resize;
}

.panel_section>h4{
	display:inline;
}
